.fab {
    position: fixed;
    bottom: 20px;
    left: 0;

    z-index: 1000;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    
    .container {
        position: relative;
        
        width: fit-content;
        background: rgba(0, 0, 0, 0.8);
        // box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
        
        border-radius: 10px;
        padding: 10px;
        
        button {
            background: none;
            border: none;

            padding: 5px 20px;
            
            span {
                color: white;
                font-weight: 700;
                mix-blend-mode: difference;
            }
            
        }
    }
    
    .active-indicator {
        position: absolute;
        width: 100%;
        inset: 0;

        margin: 10px;

        span {
            padding: 10px;
            background: wheat;
            display: inline-block;
            
            height: 100%;

            border-radius: 10px;

        }
    }
}